@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center index-background">
    <p class="display-4 mt-5">
        <div class="homepage-intro">
        <p class="typewriter">I speak in puzzles, never plain,</p>
        <p class="typewriter">I twist your thoughts and tease your brain.</p>
        <p class="typewriter">I’m asked for fun, or sometimes tests,</p>
        <p class="typewriter">solve me right—you’ve passed the quest.</p>
        <p class="typewriter"> What am I?</p>
        </div>

</div>
<div class="text-center homepage-intro mx-auto p-3">
    <img src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExdXBnMHlidXkycXVmOWlhNGkwM2RjbjVrZ2Y4MW5lcXN6dXV2NWF3YyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/hGcVxmLRUfA4IvzUo8/giphy.gif"
         alt="Cool Animation" class="img-fluidmx-auto w-64 h-64 rounded-lg">
</div>
<div class="footer-tag">
    <span>&copy; @DateTime.Now.Year Sole property of <strong>Abel K.</strong></span>
    <a href="mailto:abel97.ag@gmail.com" title="Email me!">
        <i class="bi bi-envelope-fill"></i> abel97.ag@gmail.com
    </a>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {


                // Configure the pop-up
                toastr.options = {
                        "closeButton": true,
                        "progressBar": true,
                        "positionClass": "toast-top-left",
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "100000",       // 10 seconds total
                        "extendedTimeOut": "50000", // Extra 5 seconds IF they hover and then move away
                        "tapToDismiss": false,    // Prevents accidental clicks from closing it
                        "preventDuplicates": true
                };

                // Show the message
                toastr.info("The database(All riddles) takes about 30 sec to wake up. Your first request might take a few extra seconds.");
                toastr.info("Account creation temporarily disabled, logging in should work fine.");
            
        });
    </script>
}


