@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<p>All rights and ownership belong to Abel Kenea</p>
<p>If you want an account, hit me up at <a class=" text-white" href="mailto:abel97.ag@gmail.com">abel97.ag@gmail.com</a></p>
